In [1]:
#1

""" Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series. """

#Answer

import pandas as pd
l=[4,8,15,16,23,42]
s=pd.Series(l)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#2

""" Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it. """

#Answers

import pandas as pd
l=[x for x in range(10)]
s=pd.Series(l)
print(s)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [13]:
#3

""" Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.
Name Age Gender
Alice 25 Female
Bob 30 Male
Clarie 27 Female
"""

#Answer

import pandas as pd
d={
    "Name":["Alice","Bob","Clarie"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
}
df=pd.DataFrame(d)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

In [14]:
#4

""" Q4. What is DataFrame in pandas and how is it different from pandas.series? Explain with an example. """

#Answer

""" DataFrame: A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns, 
where Series is like an one-dimensional array holding data of any type like a column in a table.
"""

import pandas as pd
d={
    "Name":["Alice","Bob","Clarie"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
}
  
df=pd.DataFrame(d)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

In [15]:
#5

""" Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions? """

#Answer

""" 
Creating new colums or rows in the table.
Dropping columns or rows in the data.
Renaming a column in the dataset.
Select columns with specific data types.
Slicing the dataset.
"""

import pandas as pd
d={
    "Name":["Alice","Bob","Clarie"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
}
df=pd.DataFrame(d)

df["new col"]=[20,44,66]
print(df)

print(" ")
df2 = df.rename(columns={'new col': 'renamed'})
print(df2)

print(" ")
print(df[["Name","new col"]][1:2])

     Name  Age  Gender  new col
0   Alice   25  Female       20
1     Bob   30    Male       44
2  Clarie   27  Female       66

     Name  Age  Gender  renamed
0   Alice   25  Female       20
1     Bob   30    Male       44
2  Clarie   27  Female       66

  Name  new col
1  Bob       44

In [ ]:
#6

""" Q6. Which of the following is mutable in nature Series, DataFrame, Panel? """

#Answer

""" All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. 
The length of a Series cannot be changed, but, for example, columns can be inserted into a DataFrame. 
However, the vast majority of methods produce new objects and leave the input data untouched. """

In [21]:
#7

""" Q7. Create a DataFrame using multiple Series. Explain with an example. """

import pandas as pd

d = {'one' : pd.Series([1, 2, 3]),
   'two' : pd.Series([1, 2, 3, 4])}

df = pd.DataFrame(d)

s=[2,3,5,2,4,5]
df["three"]=pd.Series(s)

print(df)

   one  two  three
0  1.0    1      2
1  2.0    2      3
2  3.0    3      5
3  NaN    4      2